csbdeep==0.7.4
fastremap==1.13.4
libtiff==0.4.2
matplotlib==3.8.3
monai==1.3.0
monai_weekly==0.10.dev2225
natsort==8.3.1
numba==0.54.1
numpy==1.24.4
opencv_python_headless==3.4.18.65
pandas==1.3.4
PyYAML==6.0
PyYAML==6.0.1
scipy==1.8.0
scipy==1.7.1
skimage==0.0
swincell.egg==info
tensorboardX==2.5.1
tensorboardX==2.6.2.2
tifffile==2022.8.12
torch==1.11.0
tqdm==4.66.2
tracker==0.1.1
